<a href="https://colab.research.google.com/github/Arvindkale123/pyspark_practise/blob/main/pysaprk_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 40.0 MB/s
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 47.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=f672bf59087b98da1dc2745434fd7b84248723de7f1dc4eaf0f958e88a10ba31
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName("test_pysaprk").getOrCreate()

In [5]:
df=spark.read.csv('/content/drive/MyDrive/pyspark_course/fake_customers.csv')

In [6]:
df.show()

+------------------+---------------+--------------------+--------------------+-------+----+-----+
|               _c0|            _c1|                 _c2|                 _c3|    _c4| _c5|  _c6|
+------------------+---------------+--------------------+--------------------+-------+----+-----+
|             Names|            Age|               Phone|            Location|Company| Lot|Sales|
|    Chelsea Taylor|           46.0| 1-431-660-1615x8629|064 Stone Neck Ap...|   null|null| null|
|    East Debrabury|      FM 63246"|      Bentley-Waller|               07 bz|      0|null| null|
|   Pamela Williams|           38.0|   (101)883-0724x491|    5182 Emily Spurs|   null|null| null|
|      West Lindsey|      PA 79975"|         Gomez Group|               21 cB|      0|null| null|
|   Kristi Sandoval|           41.0|    +99(4)3518374928|367 Nelson Garden...|   null|null| null|
|         Ochoaview|      MT 25437"|Thomas, Brown and...|               25 to|      0|null| null|
|     Ashley Morris|           45.0|    939-770-5901x336|   66532 Harris Loop|   null|null| null|
|        West Susan| PR 68272-6257"|Banks, Mendez and...|               46 rn|      0|null| null|
|     Dwayne Nguyen|           48.0|        468-328-7711|     418 Martin Mall|   null|null| null|
|          New John|      MN 64235"|      Phelps-Bentley|               97 lr|      0|null| null|
|   Benjamin Nelson|           43.0|   257.443.9817x9922|  Unit 2069 Box 9542|   null|null| null|
|DPO AA 81875-0608"|  Madden-Murphy|               76 YB|                   0|   null|null| null|
|    Tanya Mcdonald|           40.0|    985.525.6864x365|  PSC 1888, Box 7629|   null|null| null|
|APO AE 68066-4189"|  Morgan-Wilson|               74 HU|                   0|   null|null| null|
|    Ashley Mullins|           34.0|   231-482-7034x4744|9819 Flores Orcha...|   null|null| null|
|       Markchester| NE 71752-6833"|Hall, Romero and ...|               75 Ty|      0|null| null|
|  David Hutchinson|           39.0|        932.142.2276|  Unit 8564 Box 6806|   null|null| null|
|     DPO AE 41715"|      Hanna Ltd|               84 Ho|                   0|   null|null| null|
|      Kayla Arnold|           31.0|    550.464.0343x938|9296 Matthew Oval...|   null|null| null|
+------------------+---------------+--------------------+--------------------+-------+----+-----+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [8]:
df.columns

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5', '_c6']

In [9]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [10]:
df.describe().show()

+-------+------------------+-----------------+-----------------+------------------+-------+----+-----+
|summary|               _c0|              _c1|              _c2|               _c3|    _c4| _c5|  _c6|
+-------+------------------+-----------------+-----------------+------------------+-------+----+-----+
|  count|                31|               31|               31|                31|     12|   1|    1|
|   mean|              null|             39.0|             null|               0.0|    0.0|null| null|
| stddev|              null|6.676183683170241|             null|               0.0|    0.0|null| null|
|    min|APO AE 68066-4189"|        DE 21409"|(101)883-0724x491|                 0|      0| Lot|Sales|
|    max|        West Susan| Patterson-Burton|   Young and Sons|Unit 8732 Box 8363|Company| Lot|Sales|
+-------+------------------+-----------------+-----------------+------------------+-------+----+-----+

In [11]:
df.select('_c0').show()

+------------------+
|               _c0|
+------------------+
|             Names|
|    Chelsea Taylor|
|    East Debrabury|
|   Pamela Williams|
|      West Lindsey|
|   Kristi Sandoval|
|         Ochoaview|
|     Ashley Morris|
|        West Susan|
|     Dwayne Nguyen|
|          New John|
|   Benjamin Nelson|
|DPO AA 81875-0608"|
|    Tanya Mcdonald|
|APO AE 68066-4189"|
|    Ashley Mullins|
|       Markchester|
|  David Hutchinson|
|     DPO AE 41715"|
|      Kayla Arnold|
+------------------+
only showing top 20 rows

In [12]:
df.head(2)[0]

Row(_c0='Names', _c1='Age', _c2='Phone', _c3='Location', _c4='Company', _c5='Lot', _c6='Sales')

In [13]:
df.select(['_c0','_c1']).show()

+------------------+---------------+
|               _c0|            _c1|
+------------------+---------------+
|             Names|            Age|
|    Chelsea Taylor|           46.0|
|    East Debrabury|      FM 63246"|
|   Pamela Williams|           38.0|
|      West Lindsey|      PA 79975"|
|   Kristi Sandoval|           41.0|
|         Ochoaview|      MT 25437"|
|     Ashley Morris|           45.0|
|        West Susan| PR 68272-6257"|
|     Dwayne Nguyen|           48.0|
|          New John|      MN 64235"|
|   Benjamin Nelson|           43.0|
|DPO AA 81875-0608"|  Madden-Murphy|
|    Tanya Mcdonald|           40.0|
|APO AE 68066-4189"|  Morgan-Wilson|
|    Ashley Mullins|           34.0|
|       Markchester| NE 71752-6833"|
|  David Hutchinson|           39.0|
|     DPO AE 41715"|      Hanna Ltd|
|      Kayla Arnold|           31.0|
+------------------+---------------+
only showing top 20 rows

In [14]:
data=spark.read.csv('/content/drive/MyDrive/pyspark_course/appl_stock.csv',inferSchema=True,header=True)

In [15]:
data.show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [16]:
df.head(3)[1]

Row(_c0='Chelsea Taylor', _c1='46.0', _c2='1-431-660-1615x8629', _c3='064 Stone Neck Apt. 766', _c4=None, _c5=None, _c6=None)

In [17]:
# data.filter('Close < 500').select(['Open','Close']).show()

In [18]:
data.filter(data['Close']< 500).select('Volume').show()

+---------+
|   Volume|
+---------+
|123432400|
|150476200|
|138040000|
|119282800|
|111902700|
|115557400|
|148614900|
|151473000|
|108223500|
|148516900|
|182501900|
|153038200|
|152038600|
|220441900|
|266424900|
|466777500|
|430642100|
|293375600|
|311488100|
|187469100|
+---------+
only showing top 20 rows

In [22]:
data.filter( (data['Close']<200) & (data['Open']>200) ).show()

+-------------------+------------------+----------+----------+----------+---------+------------------+
|               Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+-------------------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22 00:00:00|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28 00:00:00|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
+-------------------+------------------+----------+----------+----------+---------+------------------+